In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#reading a data from the disk to memory
df= pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#So the column names are
df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [5]:
#Creating a Data frame with 8 variables which are being used in it
X = pd.DataFrame()
X['sex'] = df['Sex']
X['age'] = df['Age']
X['pclass']=df['Pclass']
X['embarked']=df['Embarked']
X['parch']=df['Parch']
X['sibsp']=df['SibSp']
X['ticket']=df['Ticket']
X['survived'] = df['Survived']

In [6]:
#survived will be my dependent variable, y.   I'll assign it to y and remove it from X
y = X['survived']
X = X.drop(['survived'], axis=1)

In [7]:
# We need to handle Sex such that it's categorical, for logistic regression.
# Currently it's a string
#We can use pandas get_dummies to implement one hot encoding.
pd.get_dummies(X.sex)

     female  male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
5       0.0   1.0
6       0.0   1.0
7       0.0   1.0
8       1.0   0.0
9       1.0   0.0
10      1.0   0.0
11      1.0   0.0
12      0.0   1.0
13      0.0   1.0
14      1.0   0.0
15      1.0   0.0
16      0.0   1.0
17      0.0   1.0
18      1.0   0.0
19      1.0   0.0
20      0.0   1.0
21      0.0   1.0
22      1.0   0.0
23      0.0   1.0
24      1.0   0.0
25      1.0   0.0
26      0.0   1.0
27      0.0   1.0
28      1.0   0.0
29      0.0   1.0
..      ...   ...
861     0.0   1.0
862     1.0   0.0
863     1.0   0.0
864     0.0   1.0
865     1.0   0.0
866     1.0   0.0
867     0.0   1.0
868     0.0   1.0
869     0.0   1.0
870     0.0   1.0
871     1.0   0.0
872     0.0   1.0
873     0.0   1.0
874     1.0   0.0
875     1.0   0.0
876     0.0   1.0
877     0.0   1.0
878     0.0   1.0
879     1.0   0.0
880     1.0   0.0
881     0.0   1.0
882     1.0   0.0
883     0.0   1.0
884     0.0   1.0
885     1.0   0.0
886     0.0   1.0
887     1.0   0.0
888     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[891 rows x 2 columns]

In [8]:
#We will drop one category
#Otherwise we'll have two perfectly collinear variables.
X['sex'] = pd.get_dummies(X.sex)['female']

In [9]:
#Similar to 'Sex' variable 'pclass' is also categorical variable with 1, 2, 3 as three diffrent classes.
#So implement one hot encoding
pd.get_dummies(X.pclass, prefix='pclass')

     pclass_1  pclass_2  pclass_3
0         0.0       0.0       1.0
1         1.0       0.0       0.0
2         0.0       0.0       1.0
3         1.0       0.0       0.0
4         0.0       0.0       1.0
5         0.0       0.0       1.0
6         1.0       0.0       0.0
7         0.0       0.0       1.0
8         0.0       0.0       1.0
9         0.0       1.0       0.0
10        0.0       0.0       1.0
11        1.0       0.0       0.0
12        0.0       0.0       1.0
13        0.0       0.0       1.0
14        0.0       0.0       1.0
15        0.0       1.0       0.0
16        0.0       0.0       1.0
17        0.0       1.0       0.0
18        0.0       0.0       1.0
19        0.0       0.0       1.0
20        0.0       1.0       0.0
21        0.0       1.0       0.0
22        0.0       0.0       1.0
23        1.0       0.0       0.0
24        0.0       0.0       1.0
25        0.0       0.0       1.0
26        0.0       0.0       1.0
27        1.0       0.0       0.0
28        0.0       0.0       1.0
29        0.0       0.0       1.0
..        ...       ...       ...
861       0.0       1.0       0.0
862       1.0       0.0       0.0
863       0.0       0.0       1.0
864       0.0       1.0       0.0
865       0.0       1.0       0.0
866       0.0       1.0       0.0
867       1.0       0.0       0.0
868       0.0       0.0       1.0
869       0.0       0.0       1.0
870       0.0       0.0       1.0
871       1.0       0.0       0.0
872       1.0       0.0       0.0
873       0.0       0.0       1.0
874       0.0       1.0       0.0
875       0.0       0.0       1.0
876       0.0       0.0       1.0
877       0.0       0.0       1.0
878       0.0       0.0       1.0
879       1.0       0.0       0.0
880       0.0       1.0       0.0
881       0.0       0.0       1.0
882       0.0       0.0       1.0
883       0.0       1.0       0.0
884       0.0       0.0       1.0
885       0.0       0.0       1.0
886       0.0       1.0       0.0
887       1.0       0.0       0.0
888       0.0       0.0       1.0
889       1.0       0.0       0.0
890       0.0       0.0       1.0

[891 rows x 3 columns]

In [10]:
#We will join our original dataset with new columns that we got from one hot encoding.
X = X.join(pd.get_dummies(df.Pclass, prefix='pclass'))

In [11]:
#it's important to drop one category
X = X.drop(['pclass_1', 'pclass'], axis=1)

In [12]:
##Similar to sex variable 'Embarked' is also categorical variable with C, Q, S as three diffrent cities.
#So implement one hot encoding
pd.get_dummies(X.embarked, prefix='embarked')

     embarked_C  embarked_Q  embarked_S
0           0.0         0.0         1.0
1           1.0         0.0         0.0
2           0.0         0.0         1.0
3           0.0         0.0         1.0
4           0.0         0.0         1.0
5           0.0         1.0         0.0
6           0.0         0.0         1.0
7           0.0         0.0         1.0
8           0.0         0.0         1.0
9           1.0         0.0         0.0
10          0.0         0.0         1.0
11          0.0         0.0         1.0
12          0.0         0.0         1.0
13          0.0         0.0         1.0
14          0.0         0.0         1.0
15          0.0         0.0         1.0
16          0.0         1.0         0.0
17          0.0         0.0         1.0
18          0.0         0.0         1.0
19          1.0         0.0         0.0
20          0.0         0.0         1.0
21          0.0         0.0         1.0
22          0.0         1.0         0.0
23          0.0         0.0         1.0
24          0.0         0.0         1.0
25          0.0         0.0         1.0
26          1.0         0.0         0.0
27          0.0         0.0         1.0
28          0.0         1.0         0.0
29          0.0         0.0         1.0
..          ...         ...         ...
861         0.0         0.0         1.0
862         0.0         0.0         1.0
863         0.0         0.0         1.0
864         0.0         0.0         1.0
865         0.0         0.0         1.0
866         1.0         0.0         0.0
867         0.0         0.0         1.0
868         0.0         0.0         1.0
869         0.0         0.0         1.0
870         0.0         0.0         1.0
871         0.0         0.0         1.0
872         0.0         0.0         1.0
873         0.0         0.0         1.0
874         1.0         0.0         0.0
875         1.0         0.0         0.0
876         0.0         0.0         1.0
877         0.0         0.0         1.0
878         0.0         0.0         1.0
879         1.0         0.0         0.0
880         0.0         0.0         1.0
881         0.0         0.0         1.0
882         0.0         0.0         1.0
883         0.0         0.0         1.0
884         0.0         0.0         1.0
885         0.0         1.0         0.0
886         0.0         0.0         1.0
887         0.0         0.0         1.0
888         0.0         0.0         1.0
889         1.0         0.0         0.0
890         0.0         1.0         0.0

[891 rows x 3 columns]

In [13]:
#We will join our original dataset with new columns that we got from one hot encoding.
X = X.join(pd.get_dummies(df.Embarked, prefix='embarked'))

In [14]:
## Drop one category
X = X.drop(['embarked_C', 'embarked'], axis=1)

In [27]:
X.head()

,sex,age,parch,sibsp,pclass_2,pclass_3,embarked_Q,embarked_S,ticket_110152,ticket_110413,...,ticket_STON/O2. 3101290,ticket_SW/PP 751,ticket_W./C. 14258,ticket_W./C. 14263,ticket_W./C. 6607,ticket_W./C. 6608,ticket_W./C. 6609,ticket_W.E.P. 5734,ticket_W/C 14208,ticket_WE/P 5735
0,0.0,22.0,0,1,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,38.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,26.0,0,0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,35.0,0,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,35.0,0,0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [30]:
#build test and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)